body {
  background-color: purple;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

head

article {
  flex: 2;
  padding: 20px;
  background-color: #fafafa
}

aside {
  flex: 1;
  padding: 20px;
  background-color: #dddddd
}

article, aside {
  overflow-y: auto;
}